.ui_display {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color: lightcoral;
}

.ui_health-bar {
  position: absolute;
  background: #970000;
  height: 3px;
}

.ui_health-bar--remaining {
  background: YellowGreen;
  height: 100%;
}

.ui_bottom-bar {
  z-index: 10;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  color: white;
  background: black;
}

.ui_bar-module {
  display: block;
  padding: 10px;
}

#ui_log {
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column-reverse;
}

#ui_log p {
  display: block;
  margin: 4px 0;
  text-transform: capitalize;
  text-shadow: 0 0 1px #000;
}

.ui_log-turn {
  margin-right: 4px;
  color: grey;
}

#ui_turn-counter {
  display: block;
}

/* Inventory */

#ui_inventory{
  align-items: center;
  padding: 0;
  display:flex;
}

#ui_inventory--items{
  display:flex;
}

.ui_inventory--item{
  height: 20px;
  width: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
}