#trading-layer  {
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: grid;
    grid-template-columns: 1095px 1fr;
    grid-template-rows: 600px 1fr;
    position: absolute;
}

.contextual_container{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.floating_window{
    height: 400px;
    background: black;
    border: 1px solid white;
    display:flex;
    flex-direction: row;
    padding: 24px;
    justify-content: space-between;
}

.floating_window .column{
    padding: 25px;
    border: 1px solid white;
}

.floating_window .column .item:hover{
    cursor: pointer;
    color: red;
}


.floating_window .column h2{
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: bold;
}