.dialog {
    height: 100%;
    width: 100%;
    display: flex;
    background: black;
    border: 1px solid white;
    justify-content: center;
    z-index: 2;
    padding: 24px;
}

.dialog h2 {
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: bold;
}

.dialog > div {
    padding: 25px;
    border: 1px solid white;
}

.dialog a{
    display:flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.dialog a:hover{
    cursor: pointer;
    color: red;
}

