body {
  font-family: monospace;
}

body,
html {
  width: 100%;
  overflow: hidden;
  background: black;
}

* {
  box-sizing: border-box;
  font-family: "Courier Prime", monospace !important;
  font-size: 16px;
}

*:hover,
p:hover,
div:hover {
  cursor: default;
}

canvas {
  position: relative;
  z-index: 0;
}

canvas:hover {
  cursor: pointer;
}
