body {
  font-family: monospace;
}

body,
html {
  width: 100%;
  overflow: hidden;
  background: "red";
  background: black;
}

* {
  box-sizing: border-box;
}

*:hover, p:hover, div:hover {
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
}

#game {
  position: relative;
}

canvas {
  position: relative;
  z-index: 0;
  border: 1px solid grey;
}

canvas:hover {
  cursor: pointer;
}