#game-container{
  height: 100%;
  display: grid;
  grid-template-columns: 1105px 1fr;
  grid-template-rows: 600px 1fr;
  grid-gap: 10px;
  background-color: black;
  color: white;
  padding: 5px;
}

#game-container > div{
  padding: 5px;
}

#board {
  position: relative;
}

#sidebar{
  grid-column: 2;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#bottom-bar{
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
}

#bottom-bar .ui_panel{
  height: 100%;
}

.ui_panel{
  width: 100%;
  border: 1px solid white;
}

.ui_panel--content{
  padding:10px;
  overflow: hidden;
}

#log_messages{
  max-height: 100px;
}

.ui_log--message{
  padding: 4px;
}

.ui_panel--title{
  font-size: 16px;
  padding: 3px;
  display: inline-block;
  margin-left: 10px;
  background: black;
  margin-top: -10px;
  font-weight: bold;
}

.full-height{
  height: 100%;
}