body {
  font-family: monospace;
}

*{
  box-sizing: border-box;
}

#header {
  text-align: center;
  font-family: "Faster One", cursive;
  font-size: 5vh;
  color: REBECCAPURPLE;
}

.center {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.ui{
  position:absolute;
  bottom: 30px;
  right: 30px;
}
