body {
  font-family: monospace;
}

body,
html {
  width: 100%;
  overflow: hidden;
  background: "red";
  background: black;
}

* {
  box-sizing: border-box;
}

.tile {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.tile:hover {
  color: lightseagreen !important;
  cursor: pointer;
}

.animate--movement {
  transition: top 0.1s, right 0.1s, left 0.1s, bottom 0.1s;
}

.container {
  display: flex;
  flex-direction: column;
}

.ui-display {
  display:flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color: lightcoral;
}

.ui-bottom-bar {
  display:flex;
  align-items: center;
  height: 40px;
  color: white;
}

.ui-module{
  display: block;
  padding: 10px;
}

#game {
  position: relative;
}

#ui-log{
  z-index: 10;
  background: rgba(0,0,0,.8);
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 20px;
  color: white;
  display: flex; 
  flex-direction: column-reverse;
}

#ui-log p{
  display:block;
  margin: 4px 0;
  text-transform: capitalize;
  text-shadow: 0 0 1px #000;
}

.ui_log-turn{
  margin-right: 4px;
  color: grey;
}



canvas {
  position: relative;
  z-index: 0;
}
